body {
  background-color: darkgoldenrod;
  height: 90vh;
}
header {
  width: 100vw;
  height: 70px;
  background-color: chocolate;
  padding-top: 15px;
}
h1 {
  text-align: center;
}
main {
  width: 80vw;
  margin: 0 auto;
  background-color: coral;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  width: 70%;
  text-align: center;
  margin: 10px;
  font-size: 24px;
}
article {
  width: 60%;
  margin: 10px;
}
ul {
  background-color: darkkhaki;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 10px;
}
li {
  width: 70px;
  height: 70px;
  background-color: darkcyan;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: wheat;
}
section {
  width: 200px;
  height: 280px;
  border: 2px dashed red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 2s;
  margin: 0 auto;
}
figure {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
img {
  width: 200px;
  height: 200px;
}
figcaption {
  display: none;
}
h4 {
  text-align: center;
}

section:hover img {
  transform: scale(1.5);
  transition: 4s;
}

section:hover {
  border: 2px solid blue;
  color: darkblue;
  font-size: 20px;
}

footer {
  height: 70px;
  width: 70vw;
  background-color: darkgreen;
  color: azure;
  margin: 0 auto;
}
p {
  font-size: 20px;
  text-align: center;
}
